*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("images/thengu.jpg");
    background-size: cover;
}
a:link, a:visited {
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
  }

label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
   
}

.tm-site-footer {
    padding: 40px 0 20px;
    max-width: 660px;
    font-size: 0.95rem;
}

.tm-col-footer { padding-left: 450px; }

.col-left{
    position:relative;
    padding-left:0px ;
    padding-top: 5px;
    padding-right: 280px;
    display:flex;

}
.col-right{
    position:absolute;
    padding-top: 0px;
    padding-left:600px; 
}
.mb-5{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: justify;

}

.tm-row{
    display: flex;
}
.col-left{
    width:50%;
    height:100%;
    padding-top:25px;

}

.mb-85 { margin-bottom: 85px; }

.signup-form {
	width: 500px;
	margin: 0 auto;
	padding-top: 20px;
    padding-left: 10px;		
}

.signup-form form{
	color:black;
	border-style: solid;
	margin-bottom: 15px;
	background:whitesmoke;
	box-shadow:white;
	padding: 30px;
}

.signup-form h2 {
	color:black;
    text-align: center;
	font-weight: bold;
	margin-top: 0;
}
.displayBadge{
    margin-top: 5%; 
    display: none; 
    text-align :center;
    width:100%;
}
.container2
{
   width: 360px;
   max-width: 400px;
   margin: 1rem;
   padding: 2rem;
   box-shadow: 0 0 40px rgba(0, 0, 0.2);
   border-radius: var(--border-radius);
   /*background-image:  url(/images/bg5.jpeg);*/
   background: whitesmoke;
}

